<div class="text-layout">
  <h1>Not Common Pipes</h1>
  <p>Examples of pipes that are not common.</p>
</div>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelectPipe" [toggleable]="true">
      <p>
        The superhero name is {{ name }}. We will invite
        {{ gender | i18nSelect: invitationMap }}
        to the party.
      </p>
      <button
        pButton
        label="Change person"
        class="p-button-warning"
        (click)="changePerson()"
      ></button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPluralPipe" [toggleable]="true">
      <p>
        We are attending {{ clients.length | i18nPlural: clientsMap }} right
        now.
      </p>
      <button
        pButton
        label="Delete client"
        class="p-button-danger"
        (click)="deleteClient()"
      ></button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="SlicePipe" [toggleable]="true">
      <div>
        <strong>Original</strong>
        <pre>{{ clients }}</pre>
      </div>
      <div>
        <strong>slice:0:2</strong>
        <pre>{{ clients | slice: 0:2 }}</pre>
      </div>
      <div>
        <strong>slice:0:4</strong>
        <pre>{{ name | slice: 0:4 }}</pre>
      </div>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="SlicePipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          {{ item.key }}: {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="JsonPipe" [toggleable]="true">
      <pre>{{ heroes | json }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="AsyncPipe" [toggleable]="true">
      <pre>{{ myObservable | async }}</pre>
      <pre>{{ promiseValue | async }}</pre>
    </p-fieldset>
  </div>
</div>
